@model ResetPasswordViewModel
<div id="contact" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                <form asp-controller="account" asp-action="confirmresetpassword" id="contact" method="post">
                    <input type="hidden" value="@ViewBag.UserId" id="UserId" name="UserId" />
                    <input type="hidden" value="@ViewBag.Code" id="Code" name="Code" />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".1s">
                            <h1 style="color:#ff4c00;
    margin-bottom:20px;
    position:relative;
    font-family: 'Oswald';">
                                Şifre Güncelleme
                            </h1>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    <input asp-for="NewPassword" type="password" placeholder="Yeni Şifre">
                                </div>
                                <div class="col-lg-12">
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                    <input asp-for="ConfirmNewPassword" type="password" placeholder="Yeni Şifre Tekrar">
                                </div>
                                <div class="form-group wow fadeInUp animated">
                                    <button data-wow-delay=".3s" class="btn btn-lg btn-block wow fadeInUp animated" type="submit" style="margin-left:15px">Şifre Belirle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Styles{
<style>
    input {
        background-color: #fff;
        background-image: none;
        border: 1px solid #666;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 57px;
        line-height: 1.42857;
        padding: 10px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        margin-bottom: 10px;
    }
</style>
}