@model TroubleRegisterViewModel
@{
    var options = (List<DropdownListItems>)ViewBag.Technician;
}
<div class="page-content p-6">
    <div class="content container">
        <div class="row">
            <div class="col-12">
                <div class="example ">
                    <form method="post" asp-action="SetTechnician" asp-controller="Service" asp-area="Admin">
                        <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label class="col-form-label">Rol</label>
                            <select id="optionMenu" asp-for="TechnicianId"
                                    asp-items="@(new SelectList(options, "Id", "Name"))">
                            </select>
                            <input type="hidden" asp-for="TechnicianId"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Teknisyeni Ata</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>